.nav-div-container {
	display: block;
	@if $nav-list-expander-right {
		padding-right: $nav-list-item-height-sm;
		padding-left: $gutter-spacing-sm;
	}
	@else {
		padding-right: $gutter-spacing-sm;
		padding-left: $nav-list-item-height-sm;
	}

	@include mq(md) {
		min-height: $nav-list-item-height;
		line-height: #{$nav-list-item-height - 2 * $sp-1};

		@if $nav-list-expander-right {
			padding-right: $nav-list-item-height;
			padding-left: $gutter-spacing;
		}

		@else {
			padding-right: $gutter-spacing;
			padding-left: $nav-list-item-height;
		}
	}

	.nav-div-label {
		font-style: italic;
	}
}

/// Button Colors

.btn-red {
	@include btn-color($white, $red-200);
}

.btn-orange {
	@include btn-color($white, #D73F09); /// Beaver orange
}