// Beaver Orange is #D73F09
// Gradient created here: https://coolors.co/gradient-palette/d73f09-ffffff?number=6

$orange-000: #EFB29D;
$orange-100: #E78C6B;
$orange-200: #DF653A;
$orange-300: #D73F09;