.main-content {
  text-align: justify
}

ol.lower-alpha li::before {
  content: counter(step-counter, lower-alpha) '.'
}

.remove-bottom-margin {
  margin-bottom: 0
}

.remove-top-margin {
  margin-top: 0
}

.add-indent {
  text-indent: 1em
}

/* Problem Set Styling */

.problem_stmt {
  display: block;
  border: 1px solid #e6e1e8;
  border-radius: 3px;
  padding: 1em
}

.problem_stmt h3, .problem_stmt h4 {
  color: #27262b;
}

.problem_stmt.completed {
  border: 1px solid #41d693;
}

.problem_stmt.completed h3, .problem_stmt.completed h3 {
  color: #009c7b;
}

.problem_stmt.in_progress {
  border: 1px solid #ffeb82;
}

.problem_stmt.in_progress h3, .problem_stmt.in_progress h3 {
  color: #e7af06;
}

.problem_stmt.has_issues {
  border: 1px solid #f77e7e;
}

.problem_stmt.has_issues h3, .problem_stmt.has_issues h3 {
  color: #dd2e2e;
}

.problem_notes::before {
  content: 'NOTES.';
  font-size: 10px;
  color: #009c7b;
  margin-bottom: 0.5em;
  letter-spacing: 0.1em;
  font-weight: 400;
  display: block;
}

.in_progress .problem_notes::before {
  color: #e7af06;
}

.has_issues .problem_notes::before {
  color: #dd2e2e;
}

.problem_stmt.in_progress::before {
  content: "This section is in progress.";
  display: block;
  background-color: #e7af06;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  color: white;
  border-radius: 3px;
  font-size: smaller;
}

.problem_stmt.has_issues::before {
  content: "There are some issues with this solution.";
  display: block;
  background-color: #dd2e2e;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  color: white;
  border-radius: 3px;
  font-size: smaller;
}

.problem_notes p {
  margin-bottom: 0.5em;
  margin-top: 0.5em
}

.problem_notes p:first-child {
  margin-top: 0px;
}

.problem_notes {
  padding-left: 7px;
  border-left: 1px solid #eeebee;
  color: #959396;
  font-size: smaller
}

.note {
  font-size: smaller;
  color: #959396;
}

.issue {
  font-size: smaller;
  color: #dd2e2e;
}

.problem_stmt ol p:first-child {
  margin-top: 0em;
}

.problem_stmt ol p:last-child {
  margin-bottom: 0em;
}

.post-question-feedback-button {
  float: right;
  position: relative;
  top: 6px;
}

.post-question-feedback-button {
  float: right;
  position: relative;
  top: 6px;
  background-image: none;
}

.in_progress .post-question-feedback-button {
  background-color: #e7af06;
}

.has_issues .post-question-feedback-button {
  background-color: #dd2e2e;
}
