.main-content {
  text-align: justify
}

ol.lower-alpha li::before {
  content: counter(step-counter, lower-alpha) '.'
}

.remove-bottom-margin {
  margin-bottom: 0
}

.add-indent {
  text-indent: 1em
}

/* Problem Set Styling */

.problem_stmt {
  display: block;
  border: 1px solid #41d693;
  border-radius: 3px;
  padding: 1em
}

.problem_stmt h3, h4 {
  color: #009c7b;
}
